<div class="content-container">
  <h1 class="congrats">Congratulations!</h1>

  <div class="medium-map-favorite">
    <img class="medium-map" src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="">
    <i class="fa-solid fa-heart"></i>
  </div>

  <div>
  <p>Walk duration: <%= @walk.duration %> min</p>
  <p>Walk length: <%= @walk.length %> km</p>
  </div>

  <%= simple_form_for @review do |f| %>

    <%= f.hidden_field :walk_id, value: @walk.original_walk_id %>

    <p>Rate the walk</p><br>
    <%= f.collection_radio_buttons :rating, [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], :first, :last %>

    <div class="form-input">
      <%= f.input :comment, placeholder: "Comment the walk" %>
    </div>

    <div class="form-input">
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>

    <div class="form-button">
      <%= f.submit "Add my review", class: "btn btn-flat" %>
    </div>
  <% end %>

<br>

<%= link_to "Back to homepage", walks_path, class: "nav-link" %>

</div>

<%# <form class="rating">
    <label>
      <input type="radio" name="stars" value="1" />
      <span class="icon">★</span>
    </label>
    <label>
      <input type="radio" name="stars" value="2" />
      <span class="icon">★</span>
      <span class="icon">★</span>
    </label>
    <label>
      <input type="radio" name="stars" value="3" />
      <span class="icon">★</span>
      <span class="icon">★</span>
      <span class="icon">★</span>
    </label>
    <label>
      <input type="radio" name="stars" value="4" />
      <span class="icon">★</span>
      <span class="icon">★</span>
      <span class="icon">★</span>
      <span class="icon">★</span>
    </label>
    <label>
      <input type="radio" name="stars" value="5" />
      <span class="icon">★</span>
      <span class="icon">★</span>
      <span class="icon">★</span>
      <span class="icon">★</span>
      <span class="icon">★</span>
    </label>
    </form> %>
