<div class="content-container">
  <h1 class="congrats">Congratulations!</h1>

  <div class="medium-map-favorite">
    <img class="medium-map" src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="">
    <i class="fa-solid fa-heart"></i>
  </div>

  <div class="light-orange-bckgrd">
  <p class="walk-recap"><i class="fa-solid fa-person-hiking"></i>  <strong><%= @walk.length/1000 %></strong> km</p>
  <p class="walk-recap"><i class="fa-solid fa-stopwatch"></i>  <strong><%= @walk.duration/60 %></strong> min</p>
  </div>
  <br>
  <%= simple_form_for @review, data:{controller:"star-rating"} do |f| %>

    <%= f.hidden_field :walk_id, value: @walk.original_walk_id %>

    <div class="review-form-title light-orange-bckgrd">
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate your walk" %>
    </div>
    <div class="form-input review-form-title light-orange-bckgrd">
      <%= f.input :comment, placeholder: "Comment your walk" %>
    </div>

    <div class="form-input review-form-title light-orange-bckgrd">
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>

    <div class="form-button d-flex justify-content-center">
      <%= f.submit "Add my review", class: "btn-med btn-review-form" %>
    </div>
  <% end %>
  <%= link_to "Back to homepage", walks_path, class: "nav-link" %>
</div>
