<div class="content-container">
  <h1 class="congrats">Congratulations!</h1>

  <div class="medium-map-favorite">
    <img class="medium-map" src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="">
    <i class="fa-solid fa-heart"></i>
  </div>

  <div>
  <p class="walk-recap">Walk duration: <%= @walk.duration %> min</p>
  <p class="walk-recap">Walk length: <%= @walk.length %> km</p>
  </div>
  <br>
  <%= simple_form_for @review, data:{controller:"star-rating"} do |f| %>

    <%= f.hidden_field :walk_id, value: @walk.original_walk_id %>

    <div class="review-form-title">
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate the walk" %>
    </div>
    <div class="form-input review-form-title">
      <%= f.input :comment, placeholder: "Comment the walk" %>
    </div>

    <div class="form-input review-form-title">
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>

    <div class="form-button">
      <%= f.submit "Add my review", class: "btn-med btn-review-form" %>
    </div>
  <% end %>

<%= link_to "Back to homepage", walks_path, class: "nav-link" %>

</div>
