<div class="content-container">
  <h1 class="mt-3">Congratulations!</h1>

  <div class="medium-map-favorite">
    <% if FavoriteWalk.exists?(user: current_user, walk: @walk.original_walk)%>
      <%= link_to recap_and_review_walk_favorite_walk_path(FavoriteWalk.find_by(user: current_user, walk: @walk.original_walk)), :method => :delete, class: "heart_icon" do %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
    <%  else %>
      <%= link_to recap_and_review_walk_favorite_walks_path(@walk.id), :method => :post, class: "heart_icon" do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
    <% end %>
    <div
      class="mapbox"
      data-controller="mapbox"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-mapbox-hotspots-value="<%= @hotspots.to_json %>"
      data-mapbox-waypoints-value="<%= @waypoints.to_json %>"
      data-mapbox-start-points-value="<%= @start_points.to_json %>"
      data-mapbox-current-position-value="false"
      data-mapbox-live-track-value="false"
      data-mapbox-center-current-value="false">
      <div data-mapbox-target="map" id="map" class="medium-map"></div>
    </div>
  </div>

  <div>
    <div class="walk-recap">
      <i class="fa-solid fa-person-hiking"></i>
      <strong><%= @walk.length.round(1) %></strong> km
    </div>
    <div class="walk-recap">
      <i class="fa-solid fa-stopwatch"></i>
      <% if @walk.duration > 3600 %>
        <strong><%= (@walk.duration/60) / 60%></strong> h <strong><%= sprintf('%02d', ((@walk.duration/60) % 60)) %></strong>
      <% else %>
        <strong><%= @walk.duration/60 %></strong> min
      <% end %>
    </div>
  </div>

  <br>

  <%= simple_form_for @review, data:{controller:"star-rating"} do |f| %>

    <%= f.hidden_field :walk_id, value: @walk.original_walk_id %>
    <%= f.hidden_field :current_walk_id, value: @walk.id %>

    <div class="review-form-title light-orange-bckgrd">
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate your walk" %>
    </div>
    <div class="form-input review-form-title light-orange-bckgrd">
      <%= f.input :comment, placeholder: "Comment your walk" %>
    </div>
    <div data-controller="file-preview">
      <div class="form-input review-form-title light-orange-bckgrd">
        <%= f.input :photos, as: :file,
          input_html: { multiple: true, class: "sr-only", data: { action: "change->file-preview#displayPhotoMiniature" } },
          label: "Add your photos",
          label_html: { class: "btn-min" } %>
        <div data-file-preview-target="field">
          <template data-file-preview-target="imageTemplate">
            <%= image_tag "", class: "review-photos"%>
          </template>
        </div>
      </div>
    </div>

    <div class="form-button d-flex justify-content-center">
      <%= f.submit "Add my review", class: "btn-med btn-review-form" %>
    </div>
  <% end %>
</div>
