<div class="card-walk-detailed">
  <div class="height-carousel-title">
    <h1 id="title-card-detailed"><%= @walk.name %></h1>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active width-90">
          <img src="https://image.shutterstock.com/image-vector/small-map-city-260nw-770438665.jpg" class="d-block w-100" alt="map">
        </div>
        <% @walk.photos.each do |photo| %>
          <div class="carousel-item">
            <%= cl_image_tag photo.key, height: 462, width: 280, crop: :fill, class: "d-block width-90"%>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="infos-detailed">
    <div class="description-data">
      <div class="middle-divider">
        <div class="description">
          <p><%= @walk.description %></p>
        </div>
        <div class="data-walk">
          <div class="rating">
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
            <span><i class="fa-regular fa-star-half-stroke"></i></span>
            <span><i class="fa-regular fa-star"></i></span>
          </div>
          <p><strong><%= @walk.length/1000 %></strong> km</p>
          <p><strong><%= @walk.duration/60 %></strong> min</p>
          <p><strong><%= @walk.hotspots.count %></strong> <%= 'hotspot'.pluralize(@walk.hotspots.count) %></p>
        </div>
      </div>
    </div>
    <div class="reviews">
      <h3>Avis des woolkers</h3>
      <% @walk.reviews.each do |review| %>
        <p><%= review.user.username %> | <% review.rating.times do %>
                                          <span class="fa fa-star"></span>
                                         <% end %>
                                         <% (5 - review.rating).times do %>
                                          <span class="fa-regular fa-star"></span>
                                         <% end %></p>
        <p><%= review.comment %></p>
        <div class="photos-review">
          <% review.photos.each do | photo | %>
            <%= cl_image_tag photo.key, height: 10, width: 10, crop: :fill%>
          <% end %>
        </div>
      <% end %>
    </div>
        <%= simple_form_for @new_walk, html: { class: "d-flex justify-content-center" }, method: :post do |f| %>
          <%= f.input :original_walk_id, as: :hidden, input_html: { value: @walk.id } %>
          <%= f.submit "GO!", class: 'btn-max d-flex justify-content-center' %>
        <% end %>
  </div>
</div>
