<h1>This is the show for a walk before launching it</h1>

<h2><%= @walk.name %></h2>
<p><%= @walk.description %></p>
<p><%= @walk.length %></p>
<p><%= @walk.duration %></p>
  <%= cl_image_tag @walk.photos.first.key, height: 300, width: 400, crop: :fill%>
  <%= cl_image_tag @walk.photos.last.key, height: 300, width: 400, crop: :fill%>


<h2>REVIEWS</h2>

<% @walk.reviews.each do |review| %>
  <p><%= review.user.username %></p>
  <p><%= review.rating %></p>
  <p><%= review.comment %></p>
<% end %>
