<div class="content-container">
    <h1 class="my-3">Votre choix de balade</h1>
  <div class="card-walk-detailed">
    <h2><%= @walk.name %></h2>
    <img src="https://image.shutterstock.com/image-vector/small-map-city-260nw-770438665.jpg" alt="map">
    <div class="infos-detailed">
      <div class="description-reviews">
        <p><%= @walk.description %></p>
        <p> distance: <strong><%= @walk.length/1000 %></strong> km</p>
        <p> duration: <strong><%= @walk.duration/60 %></strong> min</p>
        <div class="reviews">
          <h3>Avis des woolkers</h3>
          <% @walk.reviews.each do |review| %>
            <p><%= review.user.username %> | <%= review.rating %></p>
            <p><%= review.comment %></p>
          <% end %>
        </div>
      </div>
      <div class="data-walk">
        <div class="rating">
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa-regular fa-star-half-stroke"></i></span>
          <span><i class="fa-regular fa-star"></i></span>
        </div>
        <p>4,8km</p>
        <p>50 min</p>
        <p>3 hotspots</p>
        <a class="btn-min" href="#">GO</a>
      </div>
    </div>
  </div>
</div>















<h1>This is the show for a walk before launching it</h1>

<h2></h2>
<p></p>
  <% @walk.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 390, crop: :fill%>
  <% end %>



<h2>REVIEWS</h2>
