<div class="content-container">
  <div
    data-controller="mapbox"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-mapbox-hotspots-value="<%= @hotspots.to_json %>"
    data-mapbox-waypoints-value="<%= [] %>"
    data-mapbox-start-points-value="<%= @start_points.to_json %>"
    data-mapbox-current-position-value="true"
    data-mapbox-live-track-value="false"
    data-mapbox-center-current-value="true">
    <div data-mapbox-target="map" id="map" class="medium-map"></div>
  </div>
  <div>
    <h1>Choose your walk !</h1>
    <form>
      <div class="form-filter">
        <ul class="dropdown-filter">
          <li class="dropdown">
            <button type="button" class="btn" data-bs-toggle="dropdown" class="dropdown-toggle">
              Duration ⌄<b class="filter-title"></b>
            </button>
            <ul class="dropdown-menu">
              <li><label class="checkbox"><input type="checkbox" class="checkbox-text">    less than 15 min</label></li>
              <li><label class="checkbox"><input type="checkbox" class="checkbox-text">    less than 30 min</label></li>
              <li><label class="checkbox"><input type="checkbox" class="checkbox-text">    1 heure</label></li>
              <li><label class="checkbox"><input type="checkbox" class="checkbox-text">    1 heure 30</label></li>
              <li><label class="checkbox"><input type="checkbox" class="checkbox-text">    2 heures</label></li>
              <li><label class="checkbox"><input type="checkbox" class="checkbox-text">    more</label></li>
            </ul>
          </li>
        </ul>
        <ul class="dropdown-filter">
          <li class="dropdown">
            <button type="button" class="btn" data-bs-toggle="dropdown" class="dropdown-toggle">
              Hotspots  ⌄<b class="filter-title"></b>
            </button>
            <ul class="dropdown-menu">
              <li><label class="checkbox"><input type="checkbox" class="checkbox-text">    Park</label></li>
              <li><label class="checkbox"><input type="checkbox" class="checkbox-text">    Fountain</label></li>
              <li><label class="checkbox"><input type="checkbox" class="checkbox-text">    Dispenser</label></li>
            </ul>
          </li>
        </ul>
          <ul class="dropdown-filter">
            <li class="dropdown">
              <button type="submit" class="btn">Submit</button>
            </li>
          </ul>
      </div>
    </form>
  </div>
  <div class="card-dispenser-slide">
    <% @walks.select{ |walk| walk.published }.each do |walk| %>
      <%= link_to description_walk_path(walk) do %>
        <div class="card-walk">
          <h2><%= walk.name.capitalize %></h2>
          <div
            class="mapbox"
            data-controller="mapbox"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            data-mapbox-hotspots-value="<%= [] %>"
            data-mapbox-waypoints-value="<%= @waypoints.where(walk: walk).to_json %>"
            data-mapbox-start-points-value="<%= [] %>"
            data-mapbox-current-position-value="true"
            data-mapbox-live-track-value="false"
            data-mapbox-center-current-value="false">
            <div data-mapbox-target="map" id="map" class="medium-map"></div>
          </div>
          <div class="info">
            <div class="rating">
              <% if walk.reviews.size == 0 %>
                <p>Not rated yet</p>
              <% else %>
                <% walk.reviews_average.times do  %>
                  <span class="fa fa-star"></span>
                <% end %>
                <% (5 - walk.reviews_average).times do %>
                  <span class="fa-regular fa-star"></span>
                <% end %>
                <span>(<%= walk.reviews.size%>)</span>
              <% end %>
            </div>
            <p><i class="fa-solid fa-person-hiking"></i> <strong><%= walk.length/1000 %></strong> km</p>
            <p><i class="fa-solid fa-stopwatch"></i> <strong><%= walk.duration/60 %></strong> min</p>
            <p id= "hotspot-icon">
              <%
                hps = [] # Array that will contain the list of the hotspots categories of @walk.
                walk.hotspots.each do |h|
                  case h.category
                  when "dispenser" then hps.push("fa-trash-can")
                  when "park" then hps.push("fa-tree")
                  when "fountain" then hps.push("fa-faucet")
                  end
                end
               %>
              <% hps.uniq.each do |hp| %>
                <i class='fa-solid <%= hp %>'></i>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= link_to new_walk_path, class: "card-add-walk" do %>
      <h2>Create your own walk</h2>
      <p>+</p>
    <% end %>
  </div>
</div>
