<div class="card-walk-inline">
        <div
          class="mapbox"
          id="map"
          data-controller="mapbox"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-mapbox-hotspots-value="<%= [] %>"
          data-mapbox-waypoints-value="<%= @waypoints.where(walk: walk).to_json %>"
          data-mapbox-start-points-value="<%= @waypoints.length.zero? ? [] : [
            longitude: @waypoints.where(walk: walk).first.longitude,
            latitude: @waypoints.where(walk: walk).first.latitude
            ].to_json %>"
          data-mapbox-current-position-value="false"
          data-mapbox-live-track-value="false"
          data-mapbox-center-current-value="false">
          <div data-mapbox-target="map" id="map" class="medium-map"></div>
        </div>
        <div class="card-walk-inline-infos">
          <h3><%= title_option %></h3>
          <div class="description">
            <p><i class="fa-solid fa-person-hiking"></i> <strong><%= walk.length.round(1) %></strong> km</p>
            <p><i class="fa-solid fa-stopwatch"></i> <strong><%= walk.duration/60 %></strong> min</p>
            <p id= "hotspot-icon">
              <%
                hps = [] # Array that will contain the list of the hotspots categories of @walk.
                walk.hotspots.each do |h|
                  case h.category
                  when "dispenser" then hps.push("fa-trash-can")
                  when "dog park" then hps.push("fa-tree")
                  when "fountain" then hps.push("fa-faucet")
                  end
                end
                %>
              <% hps.uniq.each do |hp| %>
                <i class='fa-solid <%= hp %>'></i>
              <% end %>
            </p>
          </div>
        </div>
        <% if link == :delete %>
          <div class="icon">
            <%= link_to my_walk_path(walk), method: :delete, class: "delete-icon", data: { confirm: "You sure?" } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        <% else %>
          <div class="icon">
            <%= link_to edit_recap_and_save_walk_path(walk), class: "edit-icon" do %>
              <i class="fa-solid fa-pen"></i>
            <% end %>
          </div>
        <% end %>
      </div>
