<div class="card-walk-inline">
  <div
    class="mapbox"
    id="map_inline"
    data-controller="mapbox"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-mapbox-hotspots-value="<%= [] %>"
    data-mapbox-waypoints-value="<%= @waypoints.where(walk: walk).to_json %>"
    data-mapbox-start-points-value="<%=
      @waypoints.where(walk: walk).length.zero? ? [] : [
      longitude: @waypoints.where(walk: walk).first.longitude,
      latitude: @waypoints.where(walk: walk).first.latitude
      ].to_json 
    %>"
    data-mapbox-current-position-value="false"
    data-mapbox-live-track-value="false"
    data-mapbox-center-current-value="false">
    <div data-mapbox-target="map" id="map" class="medium-map medium-map-inline"></div>
  </div>
  <%= link_to description_walk_path(walk) do %>
    <div class="card-walk-inline-infos">
      <div class="description">
        <h3><%= title_option %></h3>
        <p><i class="fa-solid fa-person-hiking action-icons"></i> <strong><%= walk.length.round(1) %></strong> km</p>
        <p>
          <i class="fa-solid fa-stopwatch action-icons"></i>
          <% if walk.duration > 3600 %>
            <strong><%= (walk.duration/60) / 60%></strong> h <strong><%= sprintf('%02d', ((walk.duration/60) % 60)) %></strong>
          <% else %>
            <strong><%= walk.duration/60 %></strong> min
          <% end %>
        </p>
      </div>
      <div>
        <% if link == :delete %>

          <% unless FavoriteWalk.exists?(user: current_user, walk: walk) %>
            <div class="icon">
              <%= link_to my_walk_path(walk), method: :delete, class: "delete-icon", data: { confirm: "You sure?" } do %>
                <i class="fa-solid fa-trash action-icons"></i>
              <% end %>
            </div>
          <% else %>
          <div class="icon">
            <%= link_to my_walk_favorite_walk_path(walk_id: walk, id: FavoriteWalk.find_by(user: current_user, walk: walk)), method: :delete, class: "heart_icon" do %>
            <i class="fa-solid fa-heart action-icons"></i>
            <% end %>
          </div>
          <% end %>

        <% elsif link == :favorite %>
          <div class="icon">
            <%= link_to my_walk_favorite_walk_path(walk_id: walk, id: FavoriteWalk.find_by(user: current_user, walk: walk)), method: :delete, class: "heart_icon" do %>
            <i class="fa-solid fa-heart action-icons"></i>
            <% end %>
          </div>
        <% else %>
          <div class="icon">
            <%= link_to edit_recap_and_save_walk_path(walk), class: "edit-icon" do %>
              <i class="fa-solid fa-pen action-icons"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
