<div class="content-container">
  <h1 class="congrats mt-3">Edit your walk</h1>

  <div class="medium-map-favorite">
     <div
      class="medium-map"
      data-controller="mapbox"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-mapbox-hotspots-value="<%= @hotspots.to_json %>"
      data-mapbox-waypoints-value="<%= @waypoints.to_json %>"
      data-mapbox-start-points-value="<%= @start_points.to_json %>"
      data-mapbox-current-position-value="false"
      data-mapbox-live-track-value="false"
      data-mapbox-center-current-value="false">
      <div data-mapbox-target="map" id="map" class="medium-map"></div>
    </div>
    <div class="fav-heart">
    <% if FavoriteWalk.exists?(user: current_user, walk: @walk)%>
      <%= link_to recap_and_save_walk_favorite_walk_path(FavoriteWalk.find_by(user: current_user, walk: @walk)), :method => :delete, class: "heart_icon" do %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
    <%  else %>
      <%= link_to recap_and_save_walk_favorite_walks_path(@walk.id), :method => :post, class: "heart_icon" do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
    <% end %>
    </div>
  </div>

    <div class="walk-recap">
      <i class="fa-solid fa-person-hiking"></i>
      <strong><%= @walk.length.round(1) %></strong> km
    </div>
    <div class="walk-recap">
      <i class="fa-solid fa-stopwatch"></i>
      <% if @walk.duration > 3600 %>
        <strong><%= (@walk.duration/60) / 60%></strong> h <strong><%= sprintf('%02d', ((@walk.duration/60) % 60)) %></strong>
      <% else %>
        <strong><%= @walk.duration/60 %></strong> min
      <% end %>
    </div>
    <br>
    <div>
      <%= simple_form_for @walk do |f| %>
        <div class="form-input light-orange-bckgrd">
          <% if @walk.name == "Your new walk name" %>
            <%= f.input :name, placeholder: "Your walk's name", input_html: {  value: "" } %>
          <% else %>
            <%= f.input :name, placeholder: "Your walk's name" %>
          <% end %>
        </div>
        <div class="form-input light-orange-bckgrd">
          <% if @walk.description == "Your new walk description" %>
            <%= f.input :description, placeholder: "Your walk's description", input_html: { value: "" } %>
          <% else %>
            <%= f.input :description, placeholder: "Your walk's description" %>
          <% end %>
        </div>

        <div data-controller="file-preview">
          <div class="form-input review-form-title light-orange-bckgrd">
            <%= f.input :photos, as: :file,
              input_html: { multiple: true, class: "sr-only", data: { action: "change->file-preview#displayPhotoMiniature" } },
              label: "Add your photos",
              label_html: { class: "btn-min" } %>
            <div data-file-preview-target="field">
              <template data-file-preview-target="imageTemplate">
                <%= image_tag "", class: "review-photos"%>
              </template>
            </div>
          </div>
        </div>

        <div class="form-input radio-input">
          <%= f.input :published, as: :boolean, label: "Publish your walk" %>
        </div>

        <div class="form-button">
          <%= f.submit "Save", class: "btn btn-med" %>
        </div>
      <% end %>
    </div>
</div>
